.nav{
    display: flex;
    background-color: #315f8e;
    a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        &:hover{
            background-color: #abd4ff;
            color: #315f8e;
            font-weight: bold;
          }
        }

}
        
.title{
    text-align: center;
    margin:20px 0;
    font-size: 30px;
    font-weight: bold;
    color: #67a1de;
    @media screen and (max-width: 700px) {
        font-size: 24px;
    }
}
.chart{
    margin: auto;
    width:70%;
    svg{
        width:100%;
    }
}
.current-conditions{
    width: 250px;
    box-shadow: 0px 3px 6px #00000029;
    margin:20px auto;
    //padding:20px;
    .city-name{
        float:right;
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 24px;
    }
    .weathe-icon{
        // width:100%;
        
    }
}