.nav{
    display: flex;
    background-color: #315f8e;
    a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        &:hover{
            background-color: #abd4ff;
            color: #315f8e;
            font-weight: bold;
          }
        }

}
        
.title{
    text-align: center;
    margin:20px 0;
    font-size: 30px;
    font-weight: bold;
    color: #67a1de;
    @media screen and (max-width: 700px) {
        font-size: 24px;
    }
}
.chart{
    margin: auto;
    width:70%;
    svg{
        width:100%;
    }
}
.current-div{
    padding:10px 50px;
    .current-conditions{
    width: 250px;
    box-shadow: 0px 3px 6px #00000029;
    margin:20px auto;
    padding-bottom:50px;
    color: #676a6c;
    .temp{
        float:right;
        display: inline-block;
        margin-right: 20px;
        font-size: 42px;
    }
    .city-name{
   
        text-align: center;

        width:100%;
        font-size: 18px;
        margin: 40px 0;
        color: #676a6c;
        span{
            vertical-align:text-top;
        }
    }
    .weather-icon{
        // width:100%;
        
    }
    .properties{
        text-align: center;
        
        
        div{
            display: inline-block;
            font-size: 18px;
            margin: 0 10px;
            span{
                font-size: 20px;
                vertical-align: text-top;
            }
        }
    }
}
}